<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="BIGMAN">
<xacro:include filename="$(find bigman_urdf)/urdf/config/bigman_default_params.xacro"/>

<xacro:property name="model_name" value="IIT Bigman Legs" />
<xacro:property name="model_version" value="0.1" />

<!--
####################################################
##
##  BIGMAN_UPPER_BODY
##  if "true" the kinematic chains of the arms and torso 
##  will be used to generate the model
##
####################################################
--> 
<xacro:property name="BIGMAN_UPPER_BODY" value="false" />

<!--
####################################################
##
##  BIGMAN_ADD_PROTECTIONS
##  if "true" the protections are added to the model.
##  
##
####################################################
--> 
<xacro:property name="BIGMAN_ADD_PROTECTIONS" value="false" />

<!--
####################################################
##
##  BIGMAN_ADD_BACKPACK
##  if "true" the backpack is added to the model.
##  
##
####################################################
--> 
<xacro:property name="BIGMAN_ADD_BACKPACK" value="false" />

<!--
####################################################
##
##  BIGMAN_ADD_RAISING_SUPPORT
##  if "true" the raising support are added to the model.
##  
##
####################################################
--> 
<xacro:property name="BIGMAN_ADD_RAISING_SUPPORT" value="false" />

<!--
####################################################
##
##  BIGMAN_NEW_FEET
##  if "true" the new feet with the joint in the middle
##  are used to the model.
##  
##
####################################################
--> 
<xacro:property name="BIGMAN_NEW_FEET" value="true" />

</robot>
