<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="BIGMAN">

<xacro:property name="model_name" value="IIT Bigman w/ Softhand" />
<xacro:property name="model_version" value="0.1" />

<!--
####################################################
##
##  FEET SELECTION
##
##
## options:
## 1) round feet
## 2) simple feet
##
####################################################
# TODO checks (must be mutually exclusive)
-->

<!-- 1) round feet -->
<xacro:property name="GAZEBO_BIGMAN_USES_ROUND_FEET_13" value="false" />

<!-- 2) simple feet -->
<xacro:property name="GAZEBO_BIGMAN_USES_SIMPLE_FEET_DRC_sw1_14" value="true" />


<!--
####################################################
##
##  FOREARMS & HANDS SELECTION
##
####################################################
--> 
<!-- 7DOFS_FOREARMS + SOFT_HANDS -->
<xacro:property name="GAZEBO_BIGMAN_USES_SOFTHANDS_DRC_sw1_14" value="true" />

<!--
####################################################
##
##  MIDDLEWARE SELECTION
##
##
## options:
#  notice how, regardless of the middleware selected
#  a bare version of the robot is created (.urdf)
#  1) yarp
#	The robot is created using yarp plugins for
#	the IMU and F/T sensors. The controlboard
#	plugins used to control joints and get
#	encoder and torque information are to be
#	inserted using the .world file, where the
#	initial configuration for the joints can
#	be specified (for example, look at the 
#	worlds folder)
#  2) ros
#	The sdf is created including ros plugins
#
##
####################################################
#
# 1) yarp
#
-->
<xacro:property name="GAZEBO_BIGMAN_USES_ROS" value="false" />

<!--
#
# 2) ros
#
-->
<xacro:property name="GAZEBO_BIGMAN_USES_YARP" value="true" />

<!--
####################################################
##
##  F/T SELECTION
##
##
## options:
## 1) accurate (ft sensors located at exact spot)
#	FT sensors are defined as children of 
#	underactuated joints, added specifically 
#	to create a frame for accurate reading, 
#	and to take into account the bias given
#	by the sensor's inertia. 
## 2) non-accurate (ft sensors at the nearest joint)
##
####################################################
#
# 1/2 (true/false) 
#
-->
<xacro:property name="GAZEBO_BIGMAN_USES_ACCURATE_FT" value="false" />

</robot>
