<?xml version="1.0"?>
<model>
  <name>IIT Bigman Upper Body</name>
  <version>0.1</version>
  <sdf version='1.4'>bigman.sdf</sdf>

  <author>
   <name>Enrico Mingo</name>
   <email>enrico.mingo@iit.it</email>
  </author>

  <description>
    Simulation of the bigman Humanoid Robot from IIT.
  </description>
</model>
