<?xml version="1.0" ?>
<!--This does not replace URDF, and is not an extension of URDF.
    This is a format for representing semantic information about the robot structure.
    A URDF file must exist for this robot as well, where the joints and the links that are referenced are defined
-->
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="bigman">
    
    <xacro:include filename="$(find bigman_urdf)/urdf/bigman_config.urdf.xacro" />
    
    <!--GROUPS: Representation of a set of joints and links. This can be useful for specifying DOF to plan for, defining arms, end effectors, etc-->
    <!--LINKS: When a link is specified, the parent joint of that link (if it exists) is automatically included-->
    <!--JOINTS: When a joint is specified, the child link of that joint (which will always exist) is automatically included-->
    <!--CHAINS: When a chain is specified, all the links along the chain (including endpoints) are included in the group. Additionally, all the joints that are parents to included links are also included. This means that joints along the chain and the parent joint of the base link are included in the group-->
    <!--SUBGROUPS: Groups can also be formed by referencing to already defined group names-->
    <group name="base">
        <link name="Waist"/>
    </group>
    <group name="force_torque_sensors">
            <joint name="l_leg_ft_joint"/>
            <joint name="r_leg_ft_joint"/>
            <xacro:unless value="${BIGMAN_ONLY_LEGS}">
              <joint name="l_arm_ft_joint"/>
              <joint name="r_arm_ft_joint"/>
            </xacro:unless>
    </group>   
 <xacro:unless value="${BIGMAN_ONLY_LEGS}">
    <group name="left_arm">
        <chain base_link="DWYTorso" tip_link="l_wrist"/>
    </group>
    <group name="right_arm">
        <chain base_link="DWYTorso" tip_link="r_wrist"/>
    </group>
</xacro:unless>
    <group name="left_leg">
        <chain base_link="Waist" tip_link="l_sole"/>
    </group>
    <group name="right_leg">
        <chain base_link="Waist" tip_link="r_sole"/>
    </group>
 <xacro:unless value="${BIGMAN_ONLY_LEGS}">
    <group name="torso">
        <chain base_link="Waist" tip_link="DWYTorso"/>
    </group>
</xacro:unless>
    <group name="chains"> <!--THIS HAS TO BE THE LAST GROUP IN THE FILE -->
<xacro:unless value="${BIGMAN_ONLY_LEGS}">
        <group name="left_arm"/>
        <group name="right_arm"/>
</xacro:unless>
        <group name="left_leg"/>
        <group name="right_leg"/>
<xacro:unless value="${BIGMAN_ONLY_LEGS}">
        <group name="torso"/>
</xacro:unless>
    </group>
</robot>
